/* CSS HOME */

/* TODO */

*{
    margin: 0px;
    padding: 0px;
    color: white;
}

/* BODY */
body {
    border: 3px solid white;
    max-width: 1920px;
    max-height: 1080px;
    background: linear-gradient(to right, rgb(67, 23, 117), #160600);
}

/* HEADER */
header{
    position: relative;
    width: 100%;
    height: 400px;
}

/* NAV */
nav{
    border: 3px solid white;
    max-width: 1920px;
    background-image: radial-gradient(circle, #651E31 0%, rgb(0, 0, 0) 100%);
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    padding-right: 250px;
    padding-left: 250px;    
}

/* SECCION BODY */
section {
    border: 3px solid white;
    float: left;
    max-width: 1280px;
    margin-left: 100px;
    margin-right: 50px;
}

/* ASIDE */
aside {
    border: 3px solid white;
    float: right;
    max-width: 300px;
    max-height: 1800px;
    margin-top: 10px;
    margin-right: 100px;
 }


 /* FOOTER */
 footer{
    border: 3px solid white;
    max-height: 250px;
    float: left;
 }


/* SELECTOR POR ETIQUETA */
h1 {
    color:rgb(255, 243, 232);
    font-size: 31px;
    font-family: 'Bungee Inline',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Nabla', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin: auto;
}

h3 {
    text-align: left;
    font-family: 'Gruppo','Courier New', Courier, monospace;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-left: 410px;
}

h4{
    font-family: 'Gruppo','Courier New', Courier, monospace;
    text-align: justify;
    font-size: 28px;
}

h5 {
    font-family: 'Gruppo','Courier New', Courier, monospace;
    text-align: justify;
    font-size: 23px;
}



/* SELECTOR POR ID */
#logo{
    display: block;
    float: center;
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    padding-top: 20px;
    border-radius: 50%;
}


#logo_footer{
    display: block;
    float: left;
    max-width: 180px;
    max-height: 180px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 50%;
}


#logoquimico{
    max-width: 300px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 45%;
}


#logolux{
    max-width: 300px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20%;
}


#logopirata{
    max-width: 300px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 35%;
}


#header{
    background-image: radial-gradient(circle, #651E31 0%, BLACK 100%);
}


#seccion_principal{
    margin-top: 10px;
    margin-bottom: 10px;
}


#header_seccion{
    border: 3px solid white;
    height: 160px;
    margin-bottom: 20px;
}


#introduccion{
    height: 160px;
    margin-bottom: 20px;
}


#desastrequimico{
    height: 440px;
    margin-bottom: 50px;
}


#lux{
    height: 440px;
    margin-bottom: 50px;
}


#pirata{
    height: 440px;
    margin-bottom: 20px;
}


#footer_seccion{
    height: 30px;
    margin-bottom: 5px;
}


#premios {
    width: 300px;
    height: 1005px;
    margin-top: 100px;
}

#banner {
    width: 300px;
    margin-top: 5px;
}


/* SELECTOR POR CLASE */

.boton_barra{
    text-align: center;
    border-right: 3px solid #932C21;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.boton_info{
    font-size: 20px;
    font-family: 'Rubik vinyl','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-left: 650px;
    padding-top: 10px;
    padding-bottom: 40px;

}

.boton_reserva{
    font-size: 20px;
    font-family: 'Rubik vinyl','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.barra{
    font-size: 35px;
    font-family: 'Megrim','Bungee Inline','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: bisque;
    padding-left: 20px;
    text-decoration: none;
}

.fondo1{
    background-image: url("../img/fondo5.png");
    background-position: center;
}

.fondo2{
    background-image: url("../img/fondo2.png");
    background-position: center;
}

.fondo3{
    background-image: url("../img/fondo1.png");
    background-position: center;
}

.parrafo{
    float: right;
    width: 800px;
    font-family: 'Gruppo','Courier New', Courier, monospace;
    text-align: justify;
    color: white;
    font-size: 23px;
    margin-top: 30px;
    padding-right: 70px;
    padding-left:20px;
    padding-left: 30px;
}

.parrafo_footer{
    font-family: 'Gruppo','Courier New', Courier, monospace;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    color: rgb(255, 255, 255);
}







