/* CSS PUBLICACIONES */

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body{
    background: rgb(231, 231, 226);
}
#general {
    width: 1200px;
    margin: 0px auto;
    border: 1px solid #ccc;
    
}

#header {
    width: 100%;
    height: 100px;
    background: rgb(110, 81, 109);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 90px;
   
}

.clearfix {
    float: none;
    clear: both;
   
}
/*BARRA DE NAVEGACIÓN*/
#nav {
    width: 100%;
    height: 40px;
    background-color: #333333;
    color: white;
    font-family: sans-serif, helvetica, Arial;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;

}

#nav ul {
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 1090px;

}

#nav>ul>li {

    text-align: center;
    line-height: 40px;
    float: left;
    border-right: #333333;
    transition: all 300ms;

}

#nav>ul>li a {
    display: block;
    padding-right: 20px;
    color: white;
    text-decoration: none;

}

#nav>ul>li a:first-child {
    border-left: 1px solid #333333;
}

#nav>ul>li:hover {
    background-color:rgb(110, 81, 109);
    box-shadow: 0px 0px 4px blue inset;
}

/*MENU DESPLEGABLE*/

#nav>ul>li>ul {

    display: none;
    position: absolute;
    width: 160px;
    box-shadow: 0px 2px 2px gray;
    z-index: 1;
    text-align: center;

}

#nav>ul>li:hover>ul {
    display: block;
}

#nav>ul>li:hover>ul>li {
    background-color: #f2f1F0;
    border-bottom: 1px solid #d6d6d6;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;
}

#nav>ul>li:hover>ul>li a {
    color: #0e0d0d;
}

#nav>ul>li:hover>ul>li:hover {
    background-color: rgb(110, 81, 109);
}

#contenido {
    width: 69%;
    float: left;
}

#Blateral {
    float: left;
    width: 30%;
    margin: 4px;
    border: 2px dashed rgb(237, 96, 120);
    min-height: 500px;
    max-height: 650px;
    text-align: center;
    overflow-y: scroll;
}

#contenido>h1 {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    color: #444;
    text-shadow: 0px 0px 5px gray;
   
}

#contenido .caja {
    width: 40%;
    height: 250px;
    background: rgb(188, 136, 136);
    border: 3px solid blue;
    color: white;
    float: left;
    margin: 20px;
    margin-left: 40px;
    text-align: center;
    line-height: 200px;
    color: #444;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px black;
    border-radius: 50px 10px 4px 61px;
}

.sombra-interior {
    box-shadow: 5px 5px 10px black inset !important;
}

.libre {
    position: absolute;
    border: 1px solid black;
    background-color: green;
    top: 485px;
    left: 39%;
    color: white;
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 12px;
}

.libre1{
    position: absolute;
    background-color: peru;
    top: 785px;
    left: 39%;
    color: white;
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 12px;
}

#footer {
    width: 100%;
    height: 55px;
    line-height: 55px;
    background: #464444;
    text-align: center;
    color: #d40bee;
    border-top: 1px solid black;
}